<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ seo.title }}</title>{% if seo.meta_description %}
  <meta name="description" content="{{ seo.meta_description }}">{% endif %}{% if seo.og_image %}
  <meta property="og:image" content="{{ seo.og_image }}">{% endif %}
  <script type="module" src="/src/main.js"></script>
  <link rel="icon" type="image/svg+xml" href="imgs/favicon.svg">
  <!-- Matter.js CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.19.0/matter.min.js"></script>
</head>

